/* General Styles */
html, body {
  width: 100%;
  height: 100%;
  background-color: #414141;
  color: #FFFFFF;

  overflow: hidden;
}

.App {
  width: 100%;
  height: 100%;
}

/* Main Body Styles */
#TopDiv {
  background-color: #525252;
  position: relative;
  width: 100%;
  height: 98px;
  box-shadow: 0px 10px 0px #323232;
  z-index: 99 !important;
}

#QuarterDiv {
  position: absolute;
  top: 20px;
  left: 20px;
}

#QuarterDiv h1, #QuarterDiv p {
  margin: 0;
}

#StatsDiv {
  position: absolute;
  top: 20px;
  right: 20px;
  text-align: right;
}

#StatsDiv p {
  margin: 0;
}

#PrintLog {
  position: absolute;
  font-family: 'Inconsolata', monospace;

  bottom: 20px;
  left: 0px;
  right: 0px;
}

.MobBtnDiv {
  width: 100%;
}

table {
  width: 100%;
  margin-top: 20px;
}

td {
  text-align: center;
  vertical-align: top;
  height: 60px;
  margin-top: 5px;
}

td .btn {
  display: inline;
  float: none !important;
}

.NormPrint {
  margin: 0;
  padding: 0;
  margin-top: 4px;
  padding-top: 4px;
  margin-bottom: 1px;
  margin-left: 0px;
  font-size: 18px;
  word-wrap: break-word;
}

.LastPrint {
  margin: 0;
  padding: 0;
  margin-top: 4px;
  padding-top: 4px;
  margin-bottom: 1px;
  margin-left: 0px;
  font-size: 22px;
  word-wrap: break-word;
}

/* Question Styles */
.FullWidthDiv {
  width: 100%;

  padding-bottom: 5px;
  padding-left: 0.75vw;
  padding-right: 0.75vw;
}

.lightBack {
  background-color: #494949;
}

.ButtonDiv {
  position: absolute;
  padding: inherit;

  right: 0;
  margin-top: -34px;

  height: 40px;
}

.ButtonDiv button {
  margin-left: 15px;
  height: 100%;
}

button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
}

.btn {
  display: block;
  position: relative;
  float: left;
  padding: 0px 25px;
  margin-top: -3px;
  font-weight: 600;
  font-size: 14px;
  text-align: center;
  line-height: 45px;
  font-family: "AdamCGPro";
  color: #737373;
  border-radius: 5px;
  transition: all 0.2s;
  box-shadow: 0px 8px 0px 0px #CCC599; /* CCC599 A66615 */
  background: #FFF7C0; /* FFF7C0 FFAA40 */
}

.btn:hover {
  margin-top: 0px;
  box-shadow: 0px 5px 0px 0px #CCC599;
}

.btn:active {
  margin-top: 5px;
  box-shadow: 0px 0px 0px 0px #CCC599;
}

.btn:focus {
  outline: none;
}

.ButtonChosen {
  border-radius: 5px;
  padding: 10px;
  background-color: #656565;
  color: #FFF7C0;
  font-family:'AdamCGPro';
  font-size: 18px;
  margin-right: 5px;
  margin-top: 6px;
}

/* Colors */
.red {
  color: #FA7C92;
}

.green {
  color: #66AB8C;
}

.blue {
  color: #6EC4DB;
}

.yellow {
  color: #FFF7C0;
}
